<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<bean id="applicationContextUtils"
		class="fr.rockman18.funko.server.engine.service.ApplicationContextUtils" />

	<bean id="funkoFranchiseService"
		class="fr.rockman18.funko.server.engine.service.FunkoFranchiseServiceImpl"
		autowire="byName" />

	<bean id="funkoLineService"
		class="fr.rockman18.funko.server.engine.service.FunkoLineServiceImpl"
		autowire="byName" />

	<bean id="funkoSynchronizer"
		class="fr.rockman18.funko.server.engine.service.synchronizer.FunkoSynchronizerImpl"
		scope="prototype"
		autowire="byName" />
	
	<bean id="synchronizerService"
		class="fr.rockman18.funko.server.engine.service.synchronizer.SynchronizerServiceImpl"
		autowire="byName" />

	<bean id="htmlParser"
		class="fr.rockman18.funko.server.engine.service.HtmlParser"
		autowire="byName">
		<property name="proxyActivated" value="${funko.server.proxy.isActivated}" />
		<property name="proxyHost" value="${funko.server.proxy.host}" />
		<property name="proxyPort" value="${funko.server.proxy.port}" />
		<property name="proxyAuthenticated" value="${funko.server.proxy.isAuthenticated}" />
		<property name="proxyUser" value="${funko.server.proxy.username}" />
		<property name="proxyPassword" value="${funko.server.proxy.password}" />
	</bean>

	<bean id="funkoExceptionMapper"
		class="fr.rockman18.funko.server.engine.service.exception.FunkoExceptionMapper"
		autowire="byName" />

	<bean id="funkoSynchronizerExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"
		autowire="byName">
		<property name="corePoolSize" value="4" />
		<property name="maxPoolSize" value="16" />
		<property name="WaitForTasksToCompleteOnShutdown" value="true" />
	</bean>

	<task:scheduled-tasks>
		<task:scheduled ref="synchronizerService" method="run"
			fixed-delay="3600000" />
	</task:scheduled-tasks>

</beans>